* {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(171deg, #181a35, #30367b, #181a35);
  text-align: center;
}

h2 {
  font-family: Alegreya-regular;
  color: #fff;
}

strong {
  color: #fff;
}

.content {}

nav {
  display: none;
  background: rgba(0, 0, 0, .85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-items: center;
}

.nav-owner {
  flex: 1;
  text-align: left;
}

.nav-owner a {
  display: inline-block;
  color: #fff;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-owner a:hover {
  color: #ddd;
}

.nav-owner a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #ddd;
  transition: 300ms;
}

.nav-owner a:hover::after {
  width: 100%;
}

nav ul {
  flex: 4;
  display: inline-block;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  /* color: #aaa; */
  color: rgba(203, 227, 255, .75);
  text-decoration: none;
  margin: 0 1rem;
  padding: 1rem 0 0.5rem 0;
  display: block;
  transition: color 0.3s;
  min-width: 50px;
  text-decoration: line-through;
}

nav ul li a:hover {
  color: #fff;
}

.nav-active {
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.nav-socials {
  flex: 1;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
  }
  .nav-owner a {
    min-width: 135px;
  }
}

.container {}

.intro {
  background: #1e1e1e;
  min-height: 70vh;
  position: relative;
}

.intro-container {
  padding: 4rem 2rem 0rem 2rem;
}

.intro-heading h1 {
  font-family: Alegreya-regular;
  color: #fff;
  text-shadow: 0 0 30px #7276b6;
  font-size: 2.5rem;
}

.intro-heading div {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.intro-heading div h3 {
  display: inline-block;
  font-weight: 400;
  transition: color 0.3s;
}

.intro-heading div h3:nth-child(1):hover {
  color: #fbb17c;
}

.intro-heading div h3:nth-child(2):hover {
  color: #7ac4fd;
}

.intro-heading h1:hover, .intro-heading h3:hover {
  cursor: default;
}

.intro-heading span {
  display: none;
}

.intro-description {
  text-align: left;
  font-size: 1.2rem;
}

.social-links {}

.social-links a {
  width: 40px;
  height: 40px;
  background: #ddd;
  display: inline-block;
  margin: 0 1rem 0 0;
}

@media only screen and (min-width:768px) {
  .intro-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 0;
    width: 70%;
    max-width: 660px;
  }
  .intro-heading h1 {
    font-size: 4rem;
  }
  .intro-heading div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .intro-heading span {
    display: inline;
    padding: 0 0.5rem;
  }
  .intro-description {
    padding-top: 4rem;
    text-align: left;
    word-spacing: 2px;
    color: #ddd;
    font-size: 1.25rem;
  }
}

.projects {
  height: 50vh;
}

.projects-container {
  width: 71%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  box-sizing: border-box;
}

.projects-container a {
  color: #dcace2;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 6px;
}

.projects-container h2 {
  padding: 1rem 0;
}

.projects-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .projects-list {
    flex-direction: row;
  }
}

.projects-list>div {
  flex: 1;
}

.projects-list h3 {
  color: #ddd;
  transition: color 0.3s;
  display: inline-block;
  line-height: 20px;
  padding-left: 0.5rem;
}

.projects-list h3:hover {
  cursor: default;
}

.projects-websites h3 {
  border-left: 3px solid #fbb17c;
}

.projects-games h3 {
  border-left: 3px solid #7ac4fd;
}

.projects-websites h3:hover {
  color: #fbb17c;
}

.projects-games h3:hover {
  color: #7ac4fd;
}

.projects-websites {}

.projects-games {}

.websites-list {
  display: flex;
  flex-direction: row;
}

.games-list {
  display: flex;
  flex-direction: row;
}

.project-item {
  display: inline-block;
  background: #222;
  margin: 0.5rem 1rem 0.5rem 0;
  max-width: 150px;
  max-height: 150px;
}

.project-item a {
  display: block;
  width: 80px;
  height: 80px;
}

.personal-section {
  border-top: 1px solid #5e6dbd;
  background: linear-gradient(171deg, #352618, #fff);
}

.cv {
  height: 40vh;
}

.about {
  height: 30vh;
}

.about-container {
  width: 71%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
}

.about-container>div {
  text-align: left;
  padding: 1rem;
  flex: 3;
}

.about-container div:nth-child(2) {
  background: #abc;
  flex: 2;
}

.about-container p {
  font-size: 1.4rem;
}