* {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(44, 44, 54);
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 60%;
  background: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 993px;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 90%;
  }
}

.container {
  margin-top: 2rem;
  color: black;
  padding: 4rem 6rem;
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: rgb(10, 133, 233);
}

a:hover {
  color: rgb(233, 10, 122);
}

/* 404 */
.page404 {
  text-align: center;
}

.page404-container {
  display: inline-block;
}

.page404-container h1 {
  font-size: 20em;
  font-weight: 100;
  line-height: 75%;
}

.page404-container h2 {
  text-align: left;
  font-size: 4.6em;
}

.page404-container p {
  text-align: left;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 2rem;
}

/* INTRO SECTION */
.intro h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

.intro a {
  color: #333;
  text-decoration: none;
  font-style: normal;
}

.intro a:hover {
  color: black;
}

.intro h3 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: #888;
  font-size: 1.15rem;
  font-weight: 400;
}

/* NAVIGATION SECTION */
nav {
  margin: 0 auto;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  padding: 1.2rem 0;
}

nav ul {
  list-style: none;
}

nav li {
  font-size: 14px;
  display: inline-block;
}

nav li a {
  font-style: normal;
  color: #888;
  text-decoration: none;
  padding: 0.3rem 1rem;
}

nav li a:hover {
  cursor: pointer;
  color: #000;
}

/* CONTENT */
.page-content {
  text-align: left;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

/* ABOUT SECTION */
.about {
  flex: 1;
}

.about p {
  font-size: 1.2em;
  line-height: 1.7em;
  color: #666;
}

/* PROJECTS SECTION */
.projects-section {
  padding-top: 2rem;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.project-item {
  width: 160px;
  height: 160px;
  margin: 0.5rem;
  background: #333;
  display: flex;
  transition: 0.3s ease-in-out;
}

.project-item a {
  position: relative;
  flex: 1;
  transition: 0.3s ease-in-out;
}

.skkf {
  background: center / contain no-repeat #093511 url("./resources/skkf.png");
  background-size: 70%;
}

.leos {
  background: center / cover no-repeat #0075c0 url("./resources/leos.jpg");
  background-size: 90%;
}

.hellyhansen {
  background: center / cover no-repeat #da2127
    url("./resources/hellyhansen.jpg");
  background-size: 60%;
}

.battlerite {
  background: center / cover no-repeat #333 url("./resources/battlerite.jpg");
  background-position-y: 35%;
}

.project-item-info {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.9);
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: 0;
}

.project-item:hover .project-item-info {
  opacity: 1;
}

.project-item-info p {
  color: white;
}

.project-item-info p:first-child {
  font-weight: bold;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 700px) {
  .projects-section {
    justify-content: center;
  }
}

/* FOOTER SECTION */
footer {
  background: #333;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.75rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  padding: 0 1rem;
}

.footer-container > div {
  display: inline-block;
}

.footer-container > span {
  padding: 0 0.5rem;
}

.footer-container ul {
  display: inline-block;
  list-style: none;
}

.footer-container li {
  display: inline-block;
  padding: 0 0.5rem;
}

.footer-container li a,
.footer-container li a:link,
.footer-container li a:visited {
  color: white;
  text-decoration: none;
}

.footer-container li a:active,
.footer-container li a:hover {
  text-decoration: underline;
}

/* CV PAGE */

/* PROJECTS PAGE */
